<div class="footer-wrapper__inside">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-copyright">
                    <p>@ 2025<a href="#">BRP Soluções</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-menu text-end">
                    <ul>
                        <li>
                            <a href="#">Todos os direitos reservados</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>