<nav class="dm-page">
    <ul class="dm-pagination d-flex">
        <li class="dm-pagination__item">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="dm-pagination__link pagination-control">
                    <span class="la la-angle-left"></span>
                </a>
            {% else %}
                <span class="dm-pagination__link pagination-control disabled">
                    <span class="la la-angle-left"></span>
                </span>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <a href="?page={{ i }}" class="dm-pagination__link active">
                        <span class="page-number">{{ i }}</span>
                    </a>
                {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                    <a href="?page={{ i }}" class="dm-pagination__link">
                        <span class="page-number">{{ i }}</span>
                    </a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="dm-pagination__link pagination-control">
                    <span class="la la-angle-right"></span>
                </a>
            {% else %}
                <span class="dm-pagination__link pagination-control disabled">
                    <span class="la la-angle-right"></span>
                </span>
            {% endif %}
        </li>
    </ul>
</nav>