<div class="container-fluid my-5">
    <div class="row">
        <div class="col-12 mb-30">
            <div class="support-ticket-system support-ticket-system--search">
                <div class="breadcrumb-main m-0 breadcrumb-main--table justify-content-sm-between mb-3">
                    <div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
                        <div class="d-flex align-items-center ticket__title justify-content-center me-md-25 mb-md-0 mb-20">
                            <h4 class="text-capitalize fw-500 breadcrumb-title">📦 Produtos</h4>
                        </div>
                    </div>
                    <div class="action-btn">
                        <a href="{% url 'products:create' %}" class="btn btn-primary">
                            + Novo produto
                        </a>
                    </div>
                </div>
                <div class="userDatatable userDatatable--ticket userDatatable--ticket--2 mt-1">
                    <div class="table-responsive">
                        <table class="table mb-0 table-borderless">
                            <thead>
                                <tr class="userDatatable-header">
                                    <th>
                                        <span class="userDatatable-title">Nome</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">Peso</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">Dimensões (AxLxP)</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">Consumo Filamento (g)</span>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td>
                                            <div class="userDatatable-content--subject">
                                                {{ product.name }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content--subject">
                                                {{ product.contact_name|default:"-" }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content--subject">
                                                {{ product.phone|default:"N/A" }} <br> 
                                                <small class="text-muted">{{ product.email|default:"N/A" }}</small>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content--subject">
                                                {{ product.cnpj|default:"-" }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="project-progress text-end">
                                                <div class="dropdown dropdown-click ">
                                                    <button class="btn-link border-0 bg-transparent p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="nav-icon uil uil-ellipsis-h text-dark"></span>
                                                    </button>
                                                    <div class="dropdown-default dropdown-bottomLeft dropdown-menu-right dropdown-menu--dynamic dropdown-menu">
                                                        <a class="dropdown-item" href="{% url 'products:update' pk=product.pk %}">
                                                            <span class="nav-icon uil uil-pen"></span>
                                                            Editar
                                                        </a>
                                                        <a class="dropdown-item text-danger" href="{% url 'products:delete' pk=product.pk %}">
                                                            <span class="nav-icon uil uil-trash-alt"></span>
                                                            Excluir
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="mt-3">
                        {% include "partials/_pagination.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>